.copy-code-button {
    color: #fff;
    background-color: #0F9D58;
    border-color: #00ad5c;
    border: 20px ;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 20px;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #0fc3ff;
}

.copy-code-button:focus {
    
    background-color: #b944d4;
    outline: 0;
}

.copy-code-button:active {
    background-color: #00bd0d;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
  }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #5c95f5;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),}
